body{
  background-color: yellowgreen;
  font-family: 'Comfortaa', cursive;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  color:royalblue;
  font-family: 'Fredoka One', cursive;
}
.navbar{
  background-color: mintcream;
  border-bottom: 25px double yellowgreen;
}
.iconhome{
  font-family: 'Delius Unicase', cursive;
}
.logopequeño{
  width:60px;
  height: 25px;
}
.headerfijo{
  text-align: center;
}
.letrah1{
  color: olivedrab;
}
main{
  color:darkslategray;
}
form{
  color:darkslategray;
}
.form-control:focus{
  color:olive;
  border-color: olive;
  box-shadow:0 0 0 0.2rem RGBA(107, 142, 35,0.15);
}
.boton-form{
  background-color: orange;
  color:white;
}
.boton-form:hover{
  background-color: darkorange;
}
.card-header, .card-footer{
  background-color: mintcream;
}
.card{
  margin:10px;
  border-top: 25px double yellowgreen;
  border-bottom: 25px double yellowgreen;
  border-left: 25px double yellowgreen;
  border-right: 25px double yellowgreen;
}
